<!DOCTYPE html>
<html lang="es">
<head>
<title>Mercado Liebre - Ingresar</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.10.4/mercadolibre/favicon.svg" rel="icon">
<link rel="stylesheet" href="./styles/style-formulario.css">
<div class="barraSuperior">
<header><a href="/"><img width="100%" src="./images/logo-mercado-liebre.svg"></a></header>
</head>
<body>
    <form id="buscador" action="#">
        <input type="text" placeholder="Buscar productos, marcas y más." alt="Buscador de productos" value=""></input>
        <input type="submit" id="buscador" alt="Buscar" value="🔍️"></input>
    </form>
    <p>Comprá en cuotas y sin tarjeta de crédito</p>
<nav>
<ul>
    <li type="none"><a href="#ofertas">Ofertas</a></li>
    <li type="none"><a href="">Tiendas Oficiales</a></li>
    <li type="none"><a href="">Vender</a></li>
    <li type="none"><a href="">Ayuda</a></li>
</ul>

<ul>
    <li type="none"><a href="/registro">Creá tu cuenta</a></li>
    <li type="none"><a href="/login">Ingresá</a></li>
    <li type="none"><a href="">Mis compras</a></li>
</ul>
</nav>
</div>

<center>

    <form id="loginForm" action="/">
    <h1>Ingrese a su cuenta:</h1>
    <input class="campos" type="username" placeholder="Nombre de usuario" alt="Ingrese su nombre de usuario" value=""></input><br>
    <input class="campos" type="password" placeholder="Elegí tu contraseña"></input><br>
    <input class="campos" type="submit" value="Enviar">
    </form>
</center>
<hr>
<footer>
    <p><b>Pagá con tarjeta o en efectivo</b></p>
 <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
 pago. ¡Y siempre es seguro!</p>
 <p><b>Envío gratis desde los $ 2.500</b></p>
 <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
 productos. Es un beneficio de MercadoPuntos.</p>
 <p><b>Seguridad, de principio a fin</b></p>
 <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
 porque estás siempre protegid@.</p>
 <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
 </footer>

</body>
</html>